label {
	font-size: large;
	font-weight: 600;
}
input {
	padding: 0.5rem;
	width: 95%;
	border-radius: 5px;
	border: none;
	margin: 1rem auto;
}
.link {
	margin-left: 1rem;
	font-size: large;
	text-decoration: none;
	color: rgb(48, 46, 46);
}
.navigation {
	width: 100%;
	margin-right: 2rem;

	text-align: right;
}
